<%- include('header') -%>
<%- include('navbar') -%>
 <%- include('heading') -%> 
 <div class="container">
 <%- include('message') -%> 

</div>
 <div class="container">
     <div class="text-center">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        you can also help just scroll below
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span area-hidden="true">&times;</span>
        </button>
        </div>
    </div>
</div>
<hr class="mt-5 bg-light">
<%- include('carousel') -%>
<hr class="mt-5 bg-light" id="NeedHelp">
 <%- include('modal') -%>

 <hr class="bg-light mt-5" id="Counsellor">
<div class="container">
    <div class="mt-5 text-center">
        <h3>Need Counsellor To help you out in covid?</h3>
        <p class="mt-4">Just Ping a message on<a href="tel:+9189115634" class="text-info"> <u>+918909115634</u></a></p> through WhatsApp
    </div>
</div>

<hr class="bg-light mt-5" id="WantToHelp">
<div class="container mt-5">
    <div class="text-center">
        <h1>If you are fine and want to help then click below</h1>
    <div id="coll" class="text-light mt-5">
         <a href="https://t.me/joinchat/-FQpsC9yTC5kMjVl" class="txtdec">Just give a message on Telegram by clicking <i class="bi bi-telegram"></i> here</a> <br>
         or you can whatsapp on number given in contact section below
        </div>
    </div>
</div>
<hr class="bg-light mt-5" id="WhyUs">
 <div class="container mt-5">
     <div class="text-center">
         <h1>Why You Contact Us?</h1>
         <p>we can help u in getting</p>
         <%- include('list') -%>
     </div>
 </div>
 <hr class="bg-light mt-5" id="AboutUs">
 <div class="container mt-5">
     <div class="text-center text-light mt-5">
         <h1>About Us</h1>
         <p><strong> Help India </strong> is non Profitable self-funded community emerged in covid 
            pandemic to help people to get medical need like blood, plasma, bed etc.... 
            on your request to any of the mentioned need our team with extraordinary effort provide
            way to fulfil your need if possible, it is to be noted we won't promote any money transiction and paid need
            so if you found any paid need from our domain or name (helpIndia #In covid) try to avoid it. 
        </p>
     </div>
 </div>
  <%- include('contact') -%>
  <footer class="bg-dark text-light">
      <div class="container">
          <div class="text-center">
              &copy; All right recieved by helpIndia and WoW Hack also all the images sign and symbol are owned by there respective owners.
          </div>
      </div>
  </footer> 
  <%- include('footer') -%>